@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rich-black: 13, 27, 42;
  --oxford-blue: 27, 38, 59;
  --yinmn-blue: 65, 90, 119;
  --silver-lake-blue: 119, 141, 169;
  --platinum: 224, 225, 221;
  --foreground-rgb: 0, 0, 0;
    --font-color: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
   
  }
} */

body {
  color: rgb(var(--font-color));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--oxford-blue))) rgb(var(--rich-black));
}

.gradient-background {
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--yinmn-blue))) rgb(var(--rich-black));
}

.static-background {
  background: rgba(var(--foreground-rgb), 0.7)
}

.static-background-inverted{
  background: invert(rgba(var(--foreground-rgb)))
}

.better-stat{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* TYPOGRAPHY */

h1 {
  font-size: 2em;
}

th h1 {
  font-size: 1rem;

  @media screen and (min-width: 64em) {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.5em;
  margin-top: 2em;
}

button{
  background-color: rgb(var(--silver-lake-blue));
  color: rgb(var(--rich-black));
  padding: 10px 5px;
  transition: all;
  transition-duration: 300ms;
}

button:hover{
  background-color: rgb(var(--oxford-blue));
  color: rgb(var(--platinum));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}